*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0rem;
    background: #FF4285;
}

h1 {
    font-family: roboto, sans-serif;
    padding-left: 1.5rem;
}

.intro {
    font-family: roboto, sans-serif;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

img {
    width: 100%;
    height: auto;*, *::before, *::after {
                     box-sizing: border-box;}
}

.collection {
    width: 100%;
    display: grid;
    font-family: roboto, sans-serif;
}

.album-card {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    background: #F1A7D1;
    border-radius: 1rem;
    height: 100%;
}

.card-border {
    margin: 1rem;
    background: #000000;
    border-bottom: 0.3rem solid;
    border-radius: 1.5rem;
    border-bottom-right-radius: 1.2rem;
    border-right: 0.3rem solid;
}

.img-container {
    margin: 0.3rem;
}

img {
    border-radius: 1rem;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.album-type {
    margin-top: 0rem;
    font-size: 0.8rem;
}

.subtitle {
    margin-bottom: 0.1rem;
}

.artists {
    margin-top: 0rem;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 700px) {
    .collection {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 850px) {
    .collection {
        grid-template-columns: 1fr 1fr 1fr;
    }
}